.chat-container{
  margin: auto;
  width: 50vw;
  height: 50vh;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.message-list{
  background-color: green;
  height: 100%;
}

.message-input {
  background-color: yellow;
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;
}